@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgba(153, 50, 204, 0.713);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: antiquewhite;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.496);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#foto {
    display: block;
    background: antiquewhite url(../imagens/floresta.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: rgba(138, 44, 185, 0.656);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px; 
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: rgba(67, 192, 186, 0.713);
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 100, 0, 0.66);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgba(1, 58, 1, 0.685);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid rgba(0, 100, 0, 0.66);
    color: rgba(0, 73, 0, 0.66);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

form > a.botao:hover {
    background-color: rgba(3, 168, 3, 0.66);
}

form > a.botao > i {
    font-size: 0.8em;

}