@charset "UTH-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgba(0, 100, 0, 0.66), rgba(153, 50, 204, 0.713));
    }

    section#login {
        width: 80vw;   
        height: 260px; 
    }

    section#login > div#foto {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgba(0, 100, 0, 0.66), rgba(153, 50, 204, 0.713));
    }

    section#login {
        width: 940px;
        height: 350px;
    }

    section#login > div#foto {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login>div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario>h1 {
        font-size: 2em;
    }

    div#formulario>p {
        font-size: 1.2em;
        margin: 20px 0;
    }
}

