@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,html{
    background-color: darkseagreen;
}

header {
    background-color: darkgray;
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#buguer {
    background-color: beige;
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#buguer:hover {
    background-color: burlywood;
    color: azure;
}

menu{
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: cadetblue;
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: lightgray;
}

main {
    width: 90vw;
    background-color: azure;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}

article > p {
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 20px;
}