@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Roboto", serif;
    --fonte3: "Merriweather", serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 6vw;
}

header > h4 {
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(61, 59, 59);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.226);
    text-shadow: 1px 1px 0px black;
}

section#joaninha{
    background-image: url(imagem/joaninha.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

section#cafe{
    background-image: url(imagem/cafe.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 1em;
}