 @charset "UTF-8";

 body {
     background-color: rgba(71, 71, 255, 0.658);
     font-family: Arial, Helvetica, sans-serif;
 }

 header {
     color: white;
     text-align: center;
 }

 section {
     background: white;
     border-radius: 8px;
     padding: 15px;
     margin: auto;
     width: 500px;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
 }

 select#flista {
     width: 150px;
 }

 footer {
     color: white;
     font-style: italic;
     text-align: center;
 }